  <h1>Menu</h1>

  <h2>Here&rsquo;s how to get rolling:</h2>

  <ol>
    <li>
      <h2>Manage your projects here:</h2>
      <p><a href="projects">Projects.</a></p>
    </li>
    <li>
      <h2>Manage your account here:</h2>
      <p><a href="account">Your account.</a></p>
    </li>
    <li>
      <h2>Register new users here:</h2>
      <p><a href="account/new">Register.</a>
      </p>
    </li>
  </ol>
