<%= error_messages_for 'project' %>

<!--[form:project]-->
<p><label for="project_name">Name:</label>
<%= text_field 'project', 'name', :size => 30 %></p>

<%= pigs %>

<%= chickens %>

<div>
<i><b>i</b> All descriptions taken from the <a href="http://en.wikipedia.org/wiki/Scrum_(development)">Scrum definition at wikipedia</a>.</i>
</div>
<!--[eoform:project]-->
