<h1>Editing project</h1>

<% form_tag project_path(@project), :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Update' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @project %> |
<%= link_to 'Projects', :action => 'index' %>
